.jsant table{

}
.jsant table td{
  height:15px;
  width :15px;
  /*background:#CCCCCC;*/
  cursor:pointer;
}

.jsant table td.ant{
  background-image:url(http://icons.iconarchive.com/icons/icons8/windows-8/512/Animals-Ant-icon.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
.jsant table td.black{
  background-color:black;
}
.jsant table td.ant[data-direction="right"]{
  overflow: hidden;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.jsant table td.ant[data-direction="left"]{
  overflow: hidden;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.jsant table td.ant[data-direction="up"]{
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.jsant table td.ant[data-direction="down"]{
  overflow: hidden;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
